pkgbase = dsh-electron
	pkgdesc = DeepSeek Harness desktop using system Electron
	pkgver = 0.1.7rc.2
	pkgrel = 3
	url = https://github.com/fansion314/deepseek-harness
	arch = x86_64
	license = MIT
	makedepends = git
	makedepends = rust
	makedepends = clang
	makedepends = cmake
	makedepends = nodejs>=24
	makedepends = pnpm
	makedepends = node-gyp
	makedepends = pkgconf
	depends = electron44
	depends = libvips
	depends = python
	depends = python-numpy
	depends = python-pandas
	depends = python-docx
	depends = python-pptx
	depends = python-openpyxl
	depends = python-pillow
	depends = python-lxml
	depends = python-xlsxwriter
	depends = python-tzdata
	depends = python-dateutil
	depends = python-six
	depends = python-typing_extensions
	depends = python-et-xmlfile
	depends = ripgrep
	depends = gcc-libs
	depends = glibc
	depends = xdg-utils
	conflicts = dsh-electron-bin
	options = !strip
	source = deepseek-harness::git+https://github.com/fansion314/deepseek-harness.git#tag=arch-v0.1.7-rc.2-3
	sha256sums = SKIP

pkgname = dsh-electron
