pkgbase = dsh-electron-bin
	pkgdesc = DeepSeek Harness desktop using system Electron (prebuilt)
	pkgver = 0.1.7rc.2
	pkgrel = 6
	url = https://github.com/fansion314/deepseek-harness
	arch = x86_64
	license = MIT
	depends = electron
	depends = libvips
	depends = python
	depends = python-numpy
	depends = python-pandas
	depends = python-docx
	depends = python-pptx
	depends = python-openpyxl
	depends = python-pillow
	depends = python-lxml
	depends = python-xlsxwriter
	depends = python-tzdata
	depends = python-dateutil
	depends = python-six
	depends = python-typing_extensions
	depends = python-et-xmlfile
	depends = ripgrep
	depends = gcc-libs
	depends = glibc
	depends = xdg-utils
	provides = dsh-electron=0.1.7rc.2
	conflicts = dsh-electron
	options = !strip
	source = https://github.com/fansion314/deepseek-harness/releases/download/arch-v0.1.7-rc.2-6/dsh-electron-0.1.7-rc.2-6-x86_64.tar.zst
	sha256sums = 703c48aaecdce0a7dff630f56d90de37ddbf43dc8e20d9c576ab55098eb32def

pkgname = dsh-electron-bin
