pkgbase = dsh-electron-bin
	pkgdesc = DeepSeek Harness desktop using system Electron (prebuilt)
	pkgver = 0.1.7rc.2
	pkgrel = 5
	url = https://github.com/fansion314/deepseek-harness
	arch = x86_64
	license = MIT
	depends = electron44
	depends = libvips
	depends = python
	depends = python-numpy
	depends = python-pandas
	depends = python-docx
	depends = python-pptx
	depends = python-openpyxl
	depends = python-pillow
	depends = python-lxml
	depends = python-xlsxwriter
	depends = python-tzdata
	depends = python-dateutil
	depends = python-six
	depends = python-typing_extensions
	depends = python-et-xmlfile
	depends = ripgrep
	depends = gcc-libs
	depends = glibc
	depends = xdg-utils
	provides = dsh-electron=0.1.7rc.2
	conflicts = dsh-electron
	options = !strip
	source = https://github.com/fansion314/deepseek-harness/releases/download/arch-v0.1.7-rc.2-5/dsh-electron-0.1.7-rc.2-5-x86_64.tar.zst
	sha256sums = 015b1184006d6449ccdcb23720ff82b9af97d0e8ae46c2b3b08721ab6aa6fe37

pkgname = dsh-electron-bin
